/* トップページ見出し 親 ブロック */
.top_coment_p {
  text-align: center;
  margin-top: 100px;
}

/* トップページ見出し 子 ブロック */
.top_coment {
  font-size: 20px;
  margin-bottom: 25px;
}

/* スタートボタン 子 インラインブロック */
.top_start_btn {
  cursor: pointer;
  display: inline-block;
  border-radius: 100px;
  padding-top: 10px;
  box-shadow: 0 2px 6px #c1ced7;
  height: 50px;
  width: 300px;
  background-color: #A9D0F5;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
}

.top_start_btn:hover {
  background-color: #CEE3F6;
  transition: all 0.5s;
  text-decoration: none;
  color: white;
}

.top_coment_p .new {
  color: black;
  background: white;
}

.top_coment_p .login {
  color: white;
  background: #2E2E2E;
}

.top_coment_p .login:hover {
  text-decoration: none;
  transition: all 0.3s;
  background: black;
  opacity: 0.7;
}

.twitter_sigin_btn_p {
  display: inline-block;
  background: #58ACFA;
  width: 180px;
  height: 35px;
  border-radius: 5px;
  padding-top: 10px;
  font-size: 15px;
}

.twitter_sigin_btn_p:hover {
  text-decoration: none;
  transition: all 0.5s;
  opacity: 0.7;
}

.top_users_index_title {
  font-weight: bold;
  font-size: 18px;
  color: #848484;
}

@media screen and (max-width: 375px) {
  .top_coment_p {
    text-align: center;
    margin-top: 50px;
  }

  /* トップページ見出し 子 ブロック */
  .top_coment {
    font-size: 20px;
  }

  /* スタートボタン 子 インラインブロック */
  .top_start_btn {
    height: 47px;
    width: 300px;
    font-size: 17px;
    padding-top: 12px;
  }

}