  <%= search_form_for @q do |f| %>
   <div class="input_group_pp">
    <div class="input_group_p">
      <div class="input-group">
        <%= f.search_field :name_cont, class: "form-control",placeholder:"ユーザー名で検索"%>
      </div>
    </div>
   </div>
  <% end %>

  <%= render 'users/index' %>