<body>
  <%= form_tag("/login") do %>

<div class="new_pp">
 <div class="new_p">

  <p class="title">✦kakiku-keko</p>
  <p><input class="form" placeholder="メールアドレス" name="email"></p>
  <p><input class="form" placeholder="パスワード" name="password" type="password"></p>
  <p><input class="submit" type="submit" value="ログイン"></p>

 </div>
</div>

  <%end%>
</body>