<div style="margin-bottom:100px;">
  <p style="margin:50px;">
  プライバシーポリシー
  1. 個人情報の定義
  kakikukekoでは、個人情報を次のように認識しています。

  個人情報の保護に関する法律に規定される生存する個人に関する情報（氏名、生年月日、その他の特定の個人を識別することができる情報）、ならびに特定の個人と結びついて使用されるメールアドレス、ユーザーID(アカウント)、パスワード、個体識別番号、クレジットカードなどの情報、および個人情報と一体となった趣味、家族構成、年齢その他の個人に関する属性情報である。

  2. 個人情報の管理
  ご利用者さまの個人情報を正確かつ最新の状態に保ち、個人情報への不正アクセス・紛失・破損・改ざん・漏洩などを防止するため、セキュリティシステムの維持・管理体制の整備の徹底等の必要な措置を講じ、安全対策を実施し個人情報の厳重な管理を行ないます。

  3. cookie(クッキー)・IPアドレス情報
  cookie及びIPアドレス情報については、それら単独では特定の個人を識別することができないため、個人情報とは考えておりません。ただしこれら情報と個人情報が一体となって使用される場合にはこれら情報も個人情報とみなします。kakikukekoの運営するメディアにおいては、たとえ特定の個人を識別することができなくとも、cookie及びIPアドレス情報を利用する場合には、その目的と方法を開示してまいります。また、cookie情報については、ブラウザの設定で拒否することが可能です。cookieを拒否するとサービスが受けられない場合は、その旨も公表します。

  4. 個人情報の第三者への開示・提供の禁止
  kakikukekoは、あらかじめご本人の同意を得ず、利用目的の達成に必要な範囲を超えて個人情報を取扱うことはありません。合併その他の理由により個人情報を取得した場合にも、あらかじめご本人の同意を得ないで、承継前の利用目的の範囲を超えて取扱うことはありません。ただし、次の場合はこの限りではありません。

  法令に基づき開示することが必要である場合
  人の生命，身体または財産の保護のために必要がある場合であって、本人の同意を得ることが困難であるとき
  公衆衛生の向上または児童の健全な育成の推進のために特に必要がある場合であって、本人の同意を得ることが困難であるとき
  国の機関もしくは地方公共団体またはその委託を受けた者が法令の定める事務を遂行することに対して協力する必要がある場合であって、本人の同意を得ることにより当該事務の遂行に支障を及ぼすおそれがあるとき
  予め次の事項を告知あるいは公表をしている場合
  (1) 利用目的に第三者への提供を含むこと
  (2) 第三者に提供されるデータの項目
  (3) 第三者への提供の手段または方法
  (4) ご本人の求めに応じて個人情報の第三者への提供を停止すること
  ただし次に掲げる場合は上記に定める第三者には該当しません。
  (1) kakikukekoが利用目的の達成に必要な範囲内において個人情報の取扱いの全部または一部を委託する場合
  (2) 合併その他の事由による事業の承継に伴って個人情報が提供される場合
  (3) 個人情報を特定の者との間で共同して利用する場合であって、その旨並びに共同して利用される個人情報 の項目、共同して利用する者の範囲、利用する者の利用目的および当該個人情報の管理について責任を有する者の氏名または名称について、あらかじめご本人に通知し、またはご本人が容易に知り得る状態に置いているとき
  </p>
</div>