<div style="margin-bottom:100px;">
<p>
利用規約
kakikukeko（以下、本サービス）の利用にあたって、本サービスを利用する全てのユーザー（以下、ユーザー）は以下の利用規約の全てに同意したものとみなします。
本サービスは本規約を随時変更することができ、ユーザーはこれを了承するものとします。
本サービスは提供するサービスの改善と品質保持に努めますが、サービスの絶対性/確実性/正確性/信頼性を保証するものではありません。
本サービスは日本国内の法律に反する利用及び公序良俗に反する目的での利用を禁止します。また、発見次第該当データの削除を出来るものとします。
プライバシー情報は原則として裁判所、警察及びそれに準じた法的機関からの要請に対しのみ開示を行うとし、原則としてユーザー本人の同意なく第三者に開示することはありません。

免責事項
運営が必要と判断した場合には、ユーザーに通知する事なくいつでも本サービスを停止、変更または中止、終了する事ができるものとし、ユーザーに対して一切責任を負わないものとします。
本サービスの利用に関して、配信内容、トラブル等についての責任は一切関知致しません。リンク先、並びに本サービス以外が保有するサーバー以外に存在するサイトはその所有者・社によって管理されていますので、運営は一切の責任を負いかねます。
運営は何らかの起因によるデータの消滅、破損の責任、保障は致しかねます。
本サービスへ登録されたメールアドレスへ、本サービスからの新サービスの案内や必要な案内を配信させて頂く場合が御座います。ユーザーはこれを登録時に承諾したものとみなします。

禁止事項
日本国、及びそれ以外の国の法律、法令、条例に違反する行為
無修正・児童ポルノ・著作権/肖像権に触れる等の法に違反する行為
公序良俗に反する表現を含む行為
プライバシーや著作権に反するもの、その他の権利を侵害する行為
特定の個人や企業、団体、国、人種などへの誹謗中傷を含む行為
過度に暴力的な表現、露骨な性的表現、人種、国籍、信条、性別、社会的身分、門地等による差別につながる表現、自殺、自傷行為、薬物乱用を誘引または助長する表現、その他反社会的な内容を含み他人に不快感を与える表現を、投稿または送信する行為
営業、宣伝、広告、勧誘、その他営利を目的とする行為（本サービスの認めたものを除きます。）、性行為やわいせつな行為を目的とする行為、面識のない異性との出会いや交際を目的とする行為、他のお客様に対する嫌がらせや誹謗中傷を目的とする行為、その他本サービスが予定している利用目的と異なる目的で本サービスを利用する行為
サーバーに著しく負荷を与えるような利用
宗教活動または宗教団体への勧誘行為
ハッキング行為、ウィルス送信、スパムメール送信
情報送信時の虚偽の申告
作成したプロフィールの管理運営の放棄
その他運営が不適当と判断した一切の行為
ユーザーの責任
ユーザーはプロフィールの内容、管理、著作権に関する一切の責任を負うこととします。
禁止事項に該当する内容が発生した場合、ユーザーは当該内容を即刻その内容を消去する責任を負います。
利用停止について
禁止事項に該当する場合
その他、運営が不適当と判断した場合
</p>
</div>