 <!-- ポップアップ Twitter追加-->
  <%= form_with(model: @twitter, local: true,class:"foo") do |form| %>

  <div class="popup_wrap">
    <input id="trigger_twitter" type="checkbox">
    <div class="popup_overlay">
      <label for="trigger_twitter" class="popup_trigger"></label>
      <div class="popup_content_p">
      <div class="popup_content_a">
        <p class="popup_title" style="margin-bottom:27px;">Twitterリンク追加</p>
        <div class="sns_acount_form_pp" style="height:80px;">
           <div class="sns_acount_form_p">

            <label class="form_title">アカウントのID&emsp;</label>
            <%= form.text_field :account,class:"sns_edit_form",maxlength: "1000"%>
            <label class="form_title">コメントを追加&emsp;</label>
            <%= form.text_field :comment,class:"sns_edit_form",maxlength: "1000"%>

         </div>
      </div>
      <p><label class="edit_close_btn"  for="trigger_twitter"><i class="fas fa-times-circle edit_close_btn"></i></label></p>
      <input class="OK" type="submit" value="保存" name="add_twitter">
     </div>
    </div>
   </div>
  </div>

  <label for="trigger_twitter">
  <div class="sns_outside" style="background:#A9D0F5;">
      <p class="sns_text"></p>
      <div class="plus_icon_p">
        <i class="fas fa-plus-circle plus_icon"></i>
      </div>
      <span class="fab fa-twitter sns_inside" style="color:white;"></span>
  </div>
</label>

 <% end %>