/*
 *= require_tree .
 *= require_self
 */

@import "bootstrap/scss/bootstrap";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Sawarabi+Mincho');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');
@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');

/* フラッシュ */
.alert-notice {
  @extend .alert-info;
}

/* フラッシュ */
.alert-alert {
  @extend .alert-danger;
}

div.field_with_errors {
  display: contents;
}

input[type="submit"] {
  border: none;
  cursor: pointer;
  outline: none;
  appearance: none;
}

input[type="submit"]:hover {
  text-decoration: none;
  transition: all 0.5s;
  opacity: 0.7;
}

input[type="file"] {
  display: none;
}

/*ラジオボタン デフォルトデザイン無効*/
input[type="radio"] {
  display: none;
}

/*ラジオボタン選択時にオレンジ*/
input[type="radio"]:checked+label span {
  border: 5px solid orange;
}

/*ラジオボタン選択時にオレンジ*/
input[type="radio"]:checked+label p {
  border: 5px solid orange;
}

/*チェックボックス デフォルトデザイン無効*/
input[type="checkbox"] {
  display: none;
}

p {
  white-space: pre-wrap;
}

body {
  height: auto;
}