/* フッター 親の親 ブロック */
.footer_pp {
  text-align: center;
  background-color: white;
  position: fixed;
  bottom: 0px;
  padding-top: 7px;
  width: 100vw;
  height: 55px;
  box-shadow: 0 0 1px black;
  z-index: 1000;
}

/* フッター 親 ブロック */
.footer_p {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  margin-top: 4px;
  display: inline-block;
  cursor: pointer;
  width: 180px;
}

.footer_p:hover {
  text-decoration: none;
  transform: scale(1.05, 1.05);
}

/* フッター 子 ブロック */
.footer_p p {
  height: 24px;
  margin: 0px 40px 3px;
  text-decoration: none;

}

/* フッター アイコン インラインブロック */
.footer_icon {
  display: inline-block;
  font-size: 22px;
  color: black;
  text-decoration: none;
}

.footer_icon:hover {
  color: black;
  text-decoration: none;
}

/* フッター テキスト インライン */
.footer_font {
  width: 100px;
  text-decoration: none;
  color: black;
  font-size: 11px;
  font-weight: bold;
  font-family: sans-serif;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.footer_font:hover {
  color: black;
  text-decoration: none;
  transition: all 0.5s;
}

@media screen and (max-width: 480px) {

  /* フッター 親の親 ブロック */
  .footer_pp {
    height: 48px;
  }

  /* フッター 親 ブロック */
  .footer_p {
    margin-top: 2px;
    width: 85px;
  }

  /* フッター 子 ブロック */
  .footer_p p {
    height: 19px;
    margin: 0px 0px 3px 0px;
  }

  /* フッター アイコン インラインブロック */
  .footer_icon {
    font-size: 18px;
  }

  /* フッター テキスト インライン */
  .footer_font {
    width: auto;
    font-size: 9px;
  }

}