.fixed-top {
  background: white;
  opacity: 0.9;
}

/* ヘッダーの下のスペース 子 ブロック */
.header_space {
  height: 40px;
}

@media screen and (max-width: 480px) {

  /* ヘッダー 子 ブロック */
  .header_title {
    padding-top: 10px;
    padding-left: 20px;
    font-size: 30px;
  }

  /* ヘッダーの下のスペース 子 ブロック */
  .header_space {
    height: 40px;
  }

}