.new_subprofile_btn {
  box-shadow: 0 2px 6px #c1ced7;
  text-align: center;





}

.new_subprofile_plus_icon {
  font-size: 20px;
  padding-top: 10px;
}

.new_subprofile_pp {
  width: 100vw;
  text-align: center;
}

.new_subprofile_p {
  margin: 40px 80px 80px 80px;
  display: inline-block;
  width: 500px;
  height: 600px;
  box-shadow: 0 2px 6px #c1ced7;
}

.subprofile_btn_p {
  width: 500px;
  height: auto;
  padding: 20px 0px 0px 120px;
}

.subprofile_btn {
  margin: 5px;
  font-weight: bold;
  border-radius: 100px;
  width: 150px;
  height: 40px;
  background: #58ACFA;
  color: white;
  display: inline-block;
  vertical-align: middle;
}

.subprofile_btn:hover {
  color: white;
  text-decoration: none;
  text-decoration: none;
  transition: all 0.5s;
  opacity: 0.7;
}

.subprofile_pp {
  width: 100vw;
  height: auto;
  text-align: center;
  padding: 50px 50px 100px 50px;
}

.subprofile_title {
  font-size: 30px;
}

.subprofile_pfl_text {
  max-width: 500px;
  min-width: 500px;
  margin: auto;
  margin-top: 0px;
}