/*色一覧 親 */
.color_index_p {
  cursor: pointer;
  margin: 2px;
  height: 24px;
  width: 24px;
}

.color_index_p:hover {
  transform: scale(1.1, 1.1);
}

/*色一覧 子 */
.color_index {
  display: block;
  margin: 0px;
  height: 24px;
  width: 24px;
}

@media screen and (max-width: 480px) {

  /*色一覧 親 */
  .color_index_p {
    cursor: pointer;
    margin: 2px;
    height: 20px;
    width: 20px;
  }

  /*色一覧 子 */
  .color_index {
    margin: 0px;
    height: 20px;
    width: 20px;
  }

}