label input {
  display: none;
}

/*名前・自己紹介・保存・キャンセルボタン 親要素 ブロック*/
.edit_pp {
  text-align: center;
}

/*名前変更 親要素 インライン*/
.name_edit_p {
  display: inline;
  position: relative;
}

/*名前変更フォーム 子 インライン*/
.name_form {
  resize: none;
  border-radius: 10px;
  font-size: 18px;
  padding: 33px 5px 5px 5px;
  max-width: 500px;
  min-width: 500px;
  height: 60px;
}

/*ユーザーネームフォームタイトル 子 インライン*/
.form_title_name {
  color: gray;
  width: 500px;
  position: absolute;
  top: 5px;
  left: -470px;
}

/*プロフィールテキストフォームタイトル 子 インライン*/
.form_title_pfl_text {
  color: gray;
  width: 582px;
  height: 15px;
  position: absolute;
  top: 7px;
  left: -495px;
}

/*自己紹介 親 インラインブロック*/
.self_introduction_p {
  display: inline;
  position: relative;
}

/*プロフィールテキストフォーム 子 インライン*/
.pfl_user_text_form {
  border-radius: 10px;
  resize: none;
  font-size: 18px;
  padding: 33px 5px 5px 5px;
  max-width: 500px;
  min-width: 500px;
  height: 500px;
}

/* アップデート＆キャンセルボタン 親 ブロック */
.update_cancel_btn_p {
  margin-bottom: 0px;
  width: 100vw;
  height: 100px;
}

/*保存ボタン 子 インラインブロック*/
.update_btn {
  display: inline-block;
  width: 150px;
  height: 45px;
  margin: 30px;
  color: white;
  font-weight: bold;
  background-color: #2E9AFE;
  font-size: 22px;
  cursor: pointer;
  border-radius: 10px;
}

.update_btn:hover {
  text-decoration: none;
  transition: all 0.5s;
  opacity: 0.7;
}

/*キャンセル 子 インラインブロック*/
.cancel_btn {
  display: inline-block;
  text-decoration: none;
  width: 170px;
  height: 50px;
  margin: 30px;
  color: #2E9AFE;
  font-weight: bold;
  font-size: 22px;
  cursor: pointer;
  border-radius: 10px;
}

.cancel_btn:hover {
  text-decoration: none;
  transition: all 0.5s;
  opacity: 0.7;
}

@media screen and (max-width: 375px) {

  /*名前変更フォーム 子 インライン*/
  .name_form {
    padding: 33px 5px 5px 5px;
    max-width: 300px;
    min-width: 300px;
  }

  /*ユーザーネームフォームタイトル 子 インライン*/
  .form_title_name {
    width: 300px;
    position: absolute;
    top: -75px;
    left: -275px;
  }

  /*プロフィールテキストフォーム 子 インライン*/
  .pfl_user_text_form {
    font-size: 18px;
    padding: 33px 5px 5px 5px;
    max-width: 300px;
    min-width: 300px;
    height: 400px;
  }

  /*プロフィールテキストフォームタイトル 子 インライン*/
  .form_title_pfl_text {
    width: 300px;
    position: absolute;
    top: -410px;
    left: -260px;
  }

  /* アップデート＆キャンセルボタン 親 ブロック */
  .update_cancel_btn_p {
    width: 100vw;
    height: 50px;
  }

  /*保存ボタン 子 インラインブロック*/
  .update_btn {
    width: 120px;
    height: 40px;
    margin: 15px;
    font-size: 18px;
    border-radius: 10px;
  }

  /*キャンセル 子 インラインブロック*/
  .cancel_btn {
    width: 120px;
    height: 40px;
    margin: 15px;
    font-size: 18px;
    border-radius: 10px;
  }

}

/*ヘッダー画像カメラアイコン 子 インラインブロック*/
.camera_header {
  z-index: 6;
  display: inline-block;
  color: white;
  font-size: 50px;
  cursor: pointer;
  width: 150px;
  height: 150px;
  position: absolute;
  top: 62%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*ヘッダー画像オーバーレイ 子 ブロック*/
.black_overlay_header {
  z-index: 2;
  background-color: black;
  opacity: 0.3;
  cursor: pointer;
  height: 240px;
  width: 100vw;
  position: absolute;
  top: 0px;
}

/*アイコン画像カメラアイコン 子 インラインブロック*/
.camera_icon {
  z-index: 7;
  display: inline-block;
  color: white;
  cursor: pointer;
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/*アイコン画像オーバーレイ 子 ブロック*/
.black_overlay_icon {
  z-index: 6;
  background-color: black;
  opacity: 0.3;
  cursor: pointer;
  width: 180px;
  height: 180px;
  border-radius: 100%;
  object-fit: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 375px) {

  /*ヘッダー画像 親 ブロック*/
  .header_image_p {
    height: 130px;
  }

  /*ヘッダー画像カメラアイコン 子 インラインブロック*/
  .camera_header {
    font-size: 35px;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  /*ヘッダー画像オーバーレイ 子 ブロック*/
  .black_overlay_header {
    height: 130px;
  }

  /*アイコン画像カメラアイコン 子 インラインブロック*/
  .camera_icon {
    font-size: 35px;
  }

  /*アイコン画像オーバーレイ 子 ブロック*/
  .black_overlay_icon {
    width: 110px;
    height: 110px;
  }

}