/*SNSアイコン色変更 ポップアップをクリックして表示*/
.popup_wrap input:checked~.popup_content_font_family {
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.5s;
  z-index: 1001;
}

.font_popup_title {
  margin-bottom: 40px;
}

.font_family_p {
  margin: 0px 50px 0px 50px;
}

@media screen and (max-width: 375px) {

  .font_popup_title {
    margin-bottom: 60px;
  }

  .font_family_p {
    margin: 0px 20px 0px 20px;
  }

}