/*ヘッダー画像 親 */
.header_image_p {
  position: relative;
  height: 190px;
  width: 100vw;
  text-align: center;
  margin-bottom: 110px;
}

/*デフォルトヘッダー画像 親 */
.default_header_image {
  height: 190px;
  width: 100vw;
  text-align: center;
  background: #FFFFFF;
}

/* ヘッダー画像 子 */
.header_image {
  z-index: 5;
  height: 190px;
  width: 100vw;
  object-fit: none;
}

/*ヘッダー画像カメラアイコン 子 */
.camera_header {
  z-index: 6;
  display: inline-block;
  color: white;
  font-size: 50px;
  cursor: pointer;
  width: 150px;
  height: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*ヘッダー画像オーバーレイ 子 */
.black_overlay_header {
  z-index: 2;
  background-color: black;
  opacity: 0.3;
  cursor: pointer;
  height: 190px;
  width: 100vw;
  position: absolute;
  top: 0px;
}

@media screen and (max-width: 480px) {

  /*ヘッダー画像 親 */
  .header_image_p {
    height: 130px;
    margin-bottom: 60px;
  }

  /*ヘッダー画像カメラアイコン 子 */
  .camera_header {
    font-size: 35px;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  /*ヘッダー画像オーバーレイ 子 */
  .black_overlay_header {
    height: 130px;
  }

  /* ヘッダー画像 子 */
  .header_image {
    height: 130px;
  }

  /*デフォルトヘッダー画像 親 */
  .default_header_image {
    height: 130px;
  }

}