/* アイコン画像 子 ブロック*/
.icon_image {
  z-index: 5;
  display: inline-block;
  width: 180px;
  height: 180px;
  border-radius: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 20%);
  text-align: center;
  cursor: pointer;
}

/*アイコン画像カメラアイコン 子 インラインブロック*/
.camera_icon {
  z-index: 7;
  display: inline-block;
  color: white;
  cursor: pointer;
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 200%);
}

/*アイコン画像オーバーレイ 子 ブロック*/
.black_overlay_icon {
  z-index: 6;
  background-color: black;
  opacity: 0.3;
  cursor: pointer;
  width: 180px;
  height: 180px;
  border-radius: 100%;
  object-fit: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 20%);
}

.popup_content_icon_image {
  position: relative;
  align-self: center;
  width: 90%;
  max-width: 800px;
  padding: 30px 30px 15px;
  box-sizing: border-box;
  line-height: 1.4em;
  transition: 0.5s;
}

/*アイコン画像（拡大時）*/
.icon_image_enlarge {
  display: inline-block;
  width: 420px;
  height: 420px;
  border-radius: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*画像拡大からの編集 子 インライン*/
.image_edit {
  color: white;
  font-size: 25px;
  z-index: 11;
  text-decoration: none;
  font-weight: bold;
  position: absolute;
  top: 80px;
  right: 50px;
}

/*画像拡大からの閉じる 子 インライン*/
.close_btn {
  font-size: 50px;
  cursor: pointer;
  color: white;
  position: absolute;
  top: 50px;
  left: 30px;
}

/*画像編集ポップアップ時*/
.icon_image_edit {
  margin-top: 50px;
  width: 180px;
  height: 180px;
  border-radius: 100%;
  object-fit: cover;
  cursor: pointer;
}

.image_select {
  display: block;
  width: auto;
  height: 210px;
  margin: 30px 30px 15px 30px;
  background: #EFFBFB;
  color: #01A9DB;
  border-radius: 10px;
  line-height: 210px;
  font-size: 20px;
  cursor: pointer;

}

@media screen and (max-width: 375px) {

  /*アイコン画像カメラアイコン 子 インラインブロック*/
  .camera_icon {
    font-size: 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 130%);
  }

  /*アイコン画像オーバーレイ 子 ブロック*/
  .black_overlay_icon {
    width: 110px;
    height: 110px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 10%);
  }

  /*アイコン画像（拡大時）*/
  .icon_image_enlarge {
    width: 300px;
    height: 300px;
  }

  /*画像拡大からの編集*/
  .image_edit {
    font-size: 25px;
    z-index: 11;
    position: absolute;
    top: 70px;
    right: 20px;
  }

  /* アイコン画像 子 ブロック*/
  .icon_image {
    width: 110px;
    height: 110px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 10%);
  }

}