.index_default_icon {
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  box-shadow: 0 2px 6px #c1ced7;
  object-fit: cover;
  background: #F2F2F2;
  color: white;
  font-size: 60px;
  padding-top: 15px;
}

.input_group_pp {
  width: 100vw;
  text-align: center;
}

/* 検索フォーム 親の親  */
.input_group_p {
  display: inline-block;
  margin: 30px;
  width: 400px;
}

/* アイコン 親の親  */
.index_icon_pp {
  text-align: center;
  margin-bottom: 100px;
  margin-top: -20px;
}

/* アイコン 親  */
.index_icon_p {
  text-align: center;
  display: inline-block;
  margin: 30px;
  width: 100px;
  height: 100px;
  margin: 10px 10px 40px 10px;
  border-radius: 100%;
  box-shadow: 0 2px 6px #c1ced7;
}

.index_icon_p:hover {
  text-decoration: none;
  transition: all 0.5s;
  opacity: 0.7;
  transform: scale(1.03, 1.03);
}

/* アイコン 子  */
.index_icon_p img {
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  box-shadow: 0 2px 6px #c1ced7;
  object-fit: cover;
}

/* ユーザーネーム 親  */
.index_user_name_p {
  overflow: hidden;
}

/* ユーザーネーム 子  */
.index_user_name {
  color: black;
  font-weight: bold;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  font-size: 12px;
}


.index_user_name:hover {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

/* ページ切り替え */
.paginate {
  display: flex;
  justify-content: center;
  z-index: 1;
}

@media screen and (max-width: 480px) {

  /* 検索フォーム 親の親  */
  .input_group_p {
    margin: 30px;
    width: 300px;
  }

  /* アイコン 親  */
  .index_icon_p {
    width: 80px;
    height: 80px;
    margin: 10px 10px 40px 10px;
  }

  /* アイコン 子  */
  .index_icon_p img {
    width: 80px;
    height: 80px;
  }

  .index_default_icon {
    width: 80px;
    height: 80px;
    font-size: 45px;
  }

}