/*リンク編集 ポップアップ*/
.popup_content_link {
  z-index: 100;
  display: inline-block;
  padding: 20px 15px 30px 15px;
  position: relative;
  align-self: center;
  max-height: 400px;
  min-height: 400px;
  max-width: 420px;
  min-width: 420px;
  background: white;
  transition: 0.5s;
  border-radius: 10px;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

/*最初の選択 ポップアップをクリックして表示*/
.popup_wrap input:checked~.popup_content_link {
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.5s;
  z-index: 1001;
}

/*アカウント設定 親の親 ブロック*/
.link_form_pp {
  margin: 25px 25px 0px 25px;
  height: 230px;
}

/*アカウント設定 親 ブロック*/
.link_form_p {
  font-size: 15px;
  height: 80px;
  width: 310px;
  color: gray;
}

/*リンク設定 子 インライン*/
.link_form {
  width: 200px;
  margin-top: 3px;
}

.link_coment_form_p {
  position: relative;
  text-align: right;
  width: 295px;
}

.link_coment_form {
  width: 200px;
  height: 160px;
  margin-top: 3px;
}

.coment_form_title {
  width: auto;
  position: absolute;
  top: 0px;
  left: 15px;
}