.link_ppp {
  background: white;
  box-shadow: 0 2px 6px #c1ced7;
}

/*最初の選択 ポップアップをクリックして表示*/
.popup_wrap input:checked~.popup_content_link {
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.5s;
  z-index: 1001;
}

/*アカウント設定 親の親 */
.link_form_pp {
  margin: 25px 25px 0px 25px;
  height: 230px;
}

/*アカウント設定 親 */
.link_form_p {
  font-size: 15px;
  height: 80px;
  width: 310px;
  color: gray;
  cursor: pointer;
}

/*リンク設定 子 */
.link_form {
  width: 200px;
  margin-top: 3px;
}

.link_coment_form_p {
  position: relative;
  text-align: right;
  width: 295px;
}

.link_coment_form {
  width: 200px;
  height: 160px;
  margin-top: 3px;
}

.coment_form_title {
  width: auto;
  position: absolute;
  top: 0px;
  left: 15px;
}

.link_destroy {
  z-index: 99999px;
  display: inline-block;
  width: 70px;
  height: 35px;
  color: white;
  font-weight: bold;
  background-color: red;
  font-size: 16px;
  padding: 5px 10px 15px 10px;
  cursor: pointer;
  margin-left: 0px;
  border-radius: 5px;
  position: absolute;
  top: 15px;
  right: 15px;
}

.link_destroy:hover {
  text-decoration: none;
  color: white;
  opacity: 0.7;
  transform: scale(1.03, 1.03);
  transition: all 0.5s;
}

.link_edit_click {
  text-align: center;
}

@media screen and (max-width: 375px) {

  /*アカウント設定 親の親 */
  .link_form_pp {
    margin: 25px 45px 0px 0px;
    height: 230px;
  }
}