/*ポップアップ*/
.popup_wrap input {
  display: none;
}

.popup_overlay {
  position: relative;
  display: flex;
  justify-content: center;
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.5s, transform 0s 0.5s;
  transform: scale(0);
}

.popup_content_icon_image {
  position: relative;
  align-self: center;
  width: 90%;
  max-width: 800px;
  padding: 30px 30px 15px;
  box-sizing: border-box;
  line-height: 1.4em;
  transition: 0.5s;
}

.popup_wrap input:checked~.popup_overlay {
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.5s;
}

/*アイコン画像（拡大時）*/
.icon_image_enlarge {
  display: inline-block;
  width: 420px;
  height: 420px;
  border-radius: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*画像拡大からの編集 子 インライン*/
.image_edit {
  color: white;
  font-size: 25px;
  z-index: 11;
  text-decoration: none;
  font-weight: bold;
  position: absolute;
  top: 80px;
  right: 50px;
}

/*画像拡大からの閉じる 子 インライン*/
.close_btn {
  font-size: 50px;
  cursor: pointer;
  color: white;
  position: absolute;
  top: 50px;
  left: 30px;
}

/*編集画面へのリンク 親 ブロック*/
.pen_p {
  cursor: pointer;
  width: 50px;
  height: 50px;
  padding: 11px 16px 15px 13px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 100%;
  font-size: 25px;
  position: absolute;
  top: 12px;
  right: 20px;
}

.pen {
  color: white;
}

/*ユーザーネーム 単体 ブロック*/
.pfl_user_name {
  text-align: center;
  font-size: 20px;
  margin-top: 100px;
  font-weight: bold;
  height: 0px;
}

/*プロフィール文章 親 ブロック*/
.pfl_user_text_p {
  text-align: center;
  max-width: 500px;
  min-width: 500px;
  margin: auto;
  margin-top: 0px;
}

/*プロフィール文章 子 インライン*/
.pfl_user_text {
  font-size: 16px;
}

@media screen and (max-width: 375px) {

  /*アイコン画像（拡大時）*/
  .icon_image_enlarge {
    width: 300px;
    height: 300px;
  }

  /*画像拡大からの編集*/
  .image_edit {
    font-size: 25px;
    z-index: 11;
    position: absolute;
    top: 70px;
    right: 20px;
  }

  /*編集へのリンク(ペンノートアイコン) 親 ブロック*/
  .pen_p {
    padding: 6px 10px 10px 8px;
    text-align: right;
    font-size: 17px;
    position: absolute;
    top: 65px;
    right: 10px;
    height: 31px;
    width: 31px;
  }

  /*ユーザーネーム 単体 ブロック*/
  .pfl_user_name {
    font-size: 15px;
    margin-top: 60px;
  }

  /*プロフィール文章 親 ブロック*/
  .pfl_user_text_p {
    margin-top: 30px;
    max-width: 300px;
    min-width: 300px;
  }

  /*プロフィール文章 子 インライン*/
  .pfl_user_text {
    font-size: 14px;
    max-width: 300px;
    min-width: 300px;
  }
}