/* 全体 親親 ブロック */
.login_new_edit_pp {
  text-align: center;
}

/* 親 ブロック */
.login_new_edit_p {
  display: inline-block;
  text-align: left;
  margin-top: 50px;
  margin-bottom: 70px;
  padding: 20px 50px;
  width: 380px;
  height: auto;
  border: 1px solid #D8D8D8;
  border-radius: 10px;
  box-shadow: 0 2px 6px #c1ced7;
}

.login_new_edit_title {
  text-align: center;
}