/* SNSアイコン 親*/
.sns_pp {
  text-align: center;
  width: 100vw;
  height: auto;
  word-wrap: break-word;
  margin-bottom: 26px;
}

/* SNSアイコン 子*/
.sns_p {
  display: inline-block;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  cursor: pointer;
  position: relative;
  position: relative;
}

.plus_icon_p {
  border-radius: 100%;
  background: white;
  position: absolute;
  bottom: -10px;
  right: -10px;
  width: 37px;
  height: 37px;
}

.plus_icon {
  position: absolute;
  bottom: 4px;
  right: 4px;
  font-size: 29px;
  color: #D8D8D8;
}

/*form_with */
.foo {
  display: inline-block;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  cursor: pointer;
  position: relative;
}

/* SNSアイコン外側 孫*/
.sns_outside {
  display: inline-block;
  border-radius: 100%;
  width: 85px;
  height: 85px;
  cursor: pointer;
  position: relative;
}

.sns_outside:hover {
  transform: scale(1.1, 1.1);
}

/* SNSアイコン ひ孫*/
.sns_inside {
  font-size: 3em;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* SNSアイコン コメント */
.sns_text {
  height: auto;
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 10px;
}

/*SNSアイコンの上のスペース*/
.space {
  height: 40px;
}

@media screen and (max-width: 375px) {

  /* SNSアイコン 親*/
  .sns_p {
    margin: 3px;
    width: 60px;
    height: 60px;
  }

  /* SNSアイコン外側 親*/
  .sns_outside {
    width: 60px;
    height: 60px;
  }

  /* SNSアイコン アイコン*/
  .sns_inside {
    padding-top: -10px;
    font-size: 1.8em;
  }

  /* SNSアイコン コメント */
  .sns_text {
    font-size: 10px;
  }

  /*form_with */
  .foo {
    width: 60px;
    height: 60px;
  }

  .plus_icon_p {
    border-radius: 100%;
    background: white;
    position: absolute;
    bottom: 1x;
    right: -5px;
    width: 30px;
    height: 30px;
  }

  .plus_icon {
    position: absolute;
    bottom: 4px;
    right: 4px;
    font-size: 22px;
    color: #D8D8D8;
  }

}