/*アカウント設定 親の親 ブロック*/
.sns_acount_form_pp {
  margin: 25px 25px 0px 25px;
  height: 240px;
}

/*アカウント設定 親 ブロック*/
.sns_acount_form_p {
  font-size: 15px;
  height: 80px;
  width: 310px;
  color: gray;
}

/*アカウント設定 子 インライン*/
.sns_edit_form {
  width: 150px;
  margin-top: 3px;
}

/*ポップアップ 親の親*/
.popup_content_p {
  position: relative;
  width: 100%;
  height: 100%;
}

/*最初の選択 ポップアップをクリックして表示*/
.popup_wrap input:checked~.popup_content_select {
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.5s;
  z-index: 1001;
}

/*SNSアイコン色変更 ポップアップをクリックして表示*/
.popup_wrap input:checked~.popup_content_c {
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.5s;
  z-index: 1001;
}

/*sns情報編集 ポップアップをクリックして表示*/
.popup_wrap input:checked~.popup_content_acount {
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.5s;
  z-index: 1001;
}

/*SNSアイコン色 ポップアップ*/
.popup_content_c {
  opacity: 0;
  z-index: 100;
  display: inline-block;
  padding: 15px 20px 30px 20px;
  position: relative;
  align-self: center;
  max-height: 310px;
  min-height: 310px;
  max-width: 420px;
  min-width: 420px;
  background: white;
  transition: 0.5s;
  border-radius: 10px;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

/*アカウント情報 ポップアップ*/
.popup_content_acount {
  opacity: 0;
  z-index: 100;
  display: inline-block;
  padding: 20px 30px 30px 30px;
  position: relative;
  align-self: center;
  max-height: 400px;
  min-height: 400px;
  max-width: 420px;
  min-width: 420px;
  background: white;
  transition: 0.5s;
  border-radius: 10px;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

/*最初の選択ポップアップ */
.popup_content_select {
  z-index: 100;
  display: inline-block;
  padding: 8px 20px 30px 20px;
  position: relative;
  align-self: center;
  max-height: 250px;
  min-height: 250px;
  max-width: 420px;
  min-width: 420px;
  background: white;
  transition: 0.5s;
  border-radius: 10px;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

/*最初の選択ポップアップを開くボタン*/
.open_btn_s {
  display: inline-block;
  background-color: #2E9AFE;
  color: white;
  border-radius: 100px;
  cursor: pointer;
  font-size: 15px;
  width: 300px;
  height: 40px;
  text-align: center;
  font-weight: bold;
  padding-top: 9px
}

.open_btn_s:hover {
  text-decoration: none;
  transition: all 0.5s;
  opacity: 0.7;
  transform: scale(1.03, 1.03);
}

@media screen and (max-width: 375px) {

  /*アカウント設定 親の親 ブロック*/
  .sns_acount_form_pp {
    margin: 30px 20px 0px 0px;
  }

  /*アカウント設定 親 ブロック*/
  .sns_acount_form_p {
    font-size: 15px;
    height: 90px;
    width: 310px;
  }

  /*アカウント設定 子 インライン*/
  .sns_edit_form {
    width: 175px;
    margin-top: 3px;
  }

  /*SNSアイコンの上のスペース*/
  .space {
    height: 40px;
  }

  /*SNSアイコン色 ポップアップ*/
  .popup_content_c {
    padding: 19px 15px 15px 15px;
    max-height: 290px;
    min-height: 290px;
    max-width: 360px;
    min-width: 360px;
  }

  /*アカウント情報 ポップアップ*/
  .popup_content_acount {
    padding: 15px 15px 15px 15px;
    max-height: 430px;
    min-height: 430px;
    max-width: 360px;
    min-width: 360px;
  }

  /*最初の選択ポップアップ */
  .popup_content_select {
    padding: 15px 15px 15px 15px;
    max-height: 260px;
    min-height: 260px;
    max-width: 360px;
    min-width: 360px;
  }

  /*最初の選択ポップアップを開くボタン*/
  .open_btn_s {
    display: inline-block;
    background-color: #2E9AFE;
    color: white;
    border-radius: 100px;
    cursor: pointer;
    font-size: 15px;
    width: 300px;
    height: 40px;
    text-align: center;
    font-weight: bold;
    padding-top: 9px
  }

  .open_btn_s:hover {
    text-decoration: none;
    transition: all 0.5s;
    opacity: 0.7;
  }

}