<% if @link.errors.any? %>
  <div class="alert alert-danger" role="alert" style="margin-bottom:0px;">
  <a href="#" class="close" data-dismiss="alert">×</a>
    <% @link.errors.full_messages.each do |msg| %>
        <p><%= msg %></p>
    <% end %>
  </div>
<% end %>

<% if @user.errors.any? %>
  <div class="alert alert-danger" role="alert" style="margin-bottom:0px;">
  <a href="#" class="close" data-dismiss="alert">×</a>
    <% @user.errors.full_messages.each do |msg| %>
        <p><%= msg %></p>
    <% end %>
  </div>
<% end %>

<% if @website.errors.any? %>
  <div class="alert alert-danger" role="alert" style="margin-bottom:0px;">
  <a href="#" class="close" data-dismiss="alert">×</a>
    <% @website.errors.full_messages.each do |msg| %>
        <p><%= msg %></p>
    <% end %>
  </div>
<% end %>

<% if @subprofile.errors.any? %>
  <div class="alert alert-danger" role="alert" style="margin-bottom:0px;">
  <a href="#" class="close" data-dismiss="alert">×</a>
    <% @fsubprofile.errors.full_messages.each do |msg| %>
        <p><%= msg %></p>
    <% end %>
  </div>
<% end %>