<div class='fixed-top'>
  <nav class="navbar navbar-expand-lg navbar-light color" style="border-bottom:1px solid gray;" >
    <% if user_signed_in? %>
      <a class="navbar-brand header_title" style="color: black;" href="/">✦kakikukeko</a>
    <%else%>
      <a class="navbar-brand header_title" style="color: black;" href="#">✦kakikukeko</a>
    <%end%>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
         <% if user_signed_in? %>
          <%= link_to "ログアウト", destroy_user_session_path,class:"nav-link",style:"color: black;",method: :delete, data: { confirm: "ログアウトしますか？" }%>
         <%end%>
        </li>
        <li class="nav-item">
          <% if user_signed_in? %>
            <%= link_to "アカウント設定", edit_user_registration_path,class:"nav-link",style:"color: black;"%>
          <%end%>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: black;" href="/homes/about">サービス概要</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: black;" href="/homes/service">利用規約</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: black;" href="/homes/privacy">プライバシーポリシー</a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<p class="header_space"></p>